<div class="btn-group-vertical menu" role="group" aria-label="...">
  <button class="color btn btn-default">Color</button>
  <button class="delete btn btn-default">Delete</button>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Styles <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><button class="btn btn-default style" data-style="1">1</button></li>
      <li><button class="btn btn-default style" data-style="2">2</button></li>
      <li><button class="btn btn-default style" data-style="3">3</button></li>
    </ul>
  </div>
</div>
