<div class="btn-group-vertical menu" role="group" aria-label="...">
  <h2 class="heading">Edit Properties</h2>
  <button class="color btn btn-default">Color</button>
  <button class="delete btn btn-default">Delete</button>
  <% if (element.get("attrs").class.indexOf("text") !== -1) { %>
    <h3 class="subheading">Font-Size</h3>
    <form class="font-size">
    <input class="font-field"
           type="number"
           name="size"
           value="<%= element.get("attrs").style["font-size"].slice(0,-2) %>">
    </form>
  <%  } %>

  <% if (element.get("attrs").class.indexOf("line") === -1 && element.get("attrs").class.indexOf("text") === -1 ) { %>
    <h3 class="subheading">Rounded Corner Style</h3>
    <div class="btn-group-xs styles" role="group" aria-label="...">
      <button class="btn btn-default style" data-style="1">1</button>
      <button class="btn btn-default style" data-style="2">2</button>
      <button class="btn btn-default style" data-style="3">3</button>
      <button class="btn btn-default style" data-style="4">4</button>
      <button class="btn btn-default style" data-style="5">5</button>
    </div>
  <% } %>

    <h3 class="subheading">Positioning</h3>
    <button class="btn move-front">Move to Front</button>
    <button class="btn move-middle">Move to Middle</button>
    <button class="btn move-back">Move to Back</button>
</div>
