<div class="btn-group-vertical menu" role="group" aria-label="...">
  <button class="color btn btn-default">Color</button>
  <button class="delete btn btn-default">Delete</button>
  Styles
    <div class="btn-group-xs" role="group" aria-label="...">
      <button class="btn btn-default style" data-style="1">1</button>
      <button class="btn btn-default style" data-style="2">2</button>
      <button class="btn btn-default style" data-style="3">3</button>
    </div>
</div>
