<div class="btn-group-vertical menu" role="group" aria-label="...">
  <h2 class="heading">Edit Properties</h2>
  <button class="color btn btn-default">Color</button>
  <button class="delete btn btn-default">Delete</button>
  <h3 class="subheading">Styles</h3>
    <div class="btn-group-xs styles" role="group" aria-label="...">
      <button class="btn btn-default style" data-style="1">1</button>
      <button class="btn btn-default style" data-style="2">2</button>
      <button class="btn btn-default style" data-style="3">3</button>
    </div>
</div>
