<button class="color">Color</button>
<button class="delete">Delete</button>
<br>
<br>
<span class="styles">Styles</span>
<br>
<br>
<button class="style" data-style="1">1</button>
<button class="style" data-style="2">2</button>
<button class="style" data-style="3">3</button>
