<h2> Editing <%= site.escape("title") %></h2>
<button class="btn live">View Live</button>
<div class="menu-button"><span>+</span></div>
<div class="menu-bar"></div>
<div id="page-container" class="editing"></div>
