<form class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Site</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" type="text" name="title" id="title">
    </div>
    <div class="form-group">
      <lable for="description">Description</lable>
      <input class="form-control" type="text" name="description" id="description">
    </div>
    <div class="btn-group btn-group" role="group" aria-label="...">
      <button class="btn btn-success submit">Create</button>
      <button class="btn btn-danger cancel">Cancel</button>
    </div>
  </div>
</form>
