<div class="site-index panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Your Sites</h3>
  </div>
  <div class="panel-body">
    <div class="list-group sites">
    </div>
    <div class="new-site">
    </div>
  </div>
</div>
