<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="new-site">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2 class="index-title">Sites</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row sites">
  </div>
</div>
