<div class="site-index-item list-group-item">
  <span class="site-title"><%= site.escape("title") %></span>
  <button class="btn btn-primary edit">Edit</button>
  <button class="btn btn-danger live">View Live</button>
</div>
