

<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <div class="preview">
    <iframe scrolling="no" class="thumbnail-image"></iframe>
    </div>
      <div class="caption">
        <h3 class="site-title"><%= site.escape("title") %></h3>
        <p>-<%= site.escape("description") %></p>
        <p>
          <button class="btn btn-primary edit">Edit</button>
          <button class="btn btn-danger live">View Live</button>
          <button class="btn btn-success download">Download Site</button>
        </p>
      </div>
    </div>
  </div>
</div>
