<span class="menu-title">Elements</span>

<div class="menu btn-group" role="group" aria-label="...">
  <button class="text btn btn-default">Text</button>
  <br>
  <button class="list btn btn-default">List</button>
  <br>
  <button class="box btn btn-default">Box</button>
  <br>
  <button class="line btn btn-default">Line</button>
  <br>
  <button class="image btn btn-default">Image</button>
  <br>
  <button class="internal-link btn btn-default">Link to Internal Page</button>
  <br>
  <button class="external-link btn btn-default">Link to External Page</button>
  <br>
</div>
