<div class="menu btn-group-vertical" role="group" aria-label="...">
  <h3 class="menu-title">Elements</h3>
  <button class="text btn btn-default">Text</button>
  <button class="box-el btn btn-default">Box</button>
  <button class="line btn btn-default">Line</button>
  <button class="image btn btn-default">Image</button>
  <button class="internal-link btn btn-default">Link to Internal Page</button>
  <button class="external-link btn btn-default">Link to External Page</button>
</div>
