<div class="menu btn-group-vertical" role="group" aria-label="...">
  <h3 class="menu-title">Page Properties</h3>

  <form>
    Title: <input type="text" id="title" name="title" value="<%= page.escape("title") %>">
  </form>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Background <span class="caret"></span>
    </button>
    <ul class="background-buttons dropdown-menu">
      <li><button class="background-color btn btn-default">Color</button></li>
      <li><button class="background-image btn btn-default">Image</button></li>
    </ul>
  </div>
</div>
