<span class="menu-title">Pages</span>

<div class="menu btn-group-vertical" role="group" aria-label="...">
  <div class="pages btn-group-vertical" role="group" aria-label="...">
  </div>
  <button class="btn btn-success new-page">Create New Page</button>
</div>
